<!doctype html>
<html lang="en">

<%- include('head'); %>


<body>

  <%- include('logo'); %>

  <div class="reveal">

    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">

      <%- include('reveal'); %>

    </div>


  </div>

  <div class="line top"></div>
  <div class="line bottom"></div>
  <div class="line left"></div>
  <div class="line right"></div>

  <%- include('libs'); %>

  <%- include('init'); %>
</body>

</html>
